body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Arimo', sans-serif;
}

i {
    color: grey;
}

.frame {
    width: 1181px;
    height: 720px;
    background-color: #3a4965;
    margin: auto;
}

.link {
    text-decoration: none;
    color: #535353;
}

.color {
    list-style: none;  
}

.conteiner {
    width: 1141px;
    height: 680px;
    margin: auto;
    padding-top: 20px;
}

.line-one {
    width: 310px;
    height: 156px;
    background-color: #fafafa;
}

.title-one {
    font-size: 18px;
    color: #484848;
    text-align: center;
    margin-bottom: 0px;
}

.title-two {
    font-size: 30px;
    color: #484848;
    text-align: center;
    margin-top: 0px;
}

.line-green {
    background-color: #89c331;
    width: 277px;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.line-red {
    background-color: #f04a56;
    width: 277px;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.line-blue {
    background-color: #20807c;
    width: 277px;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.second-line {
    background-color: #fafafa;
    width: 227px;
    height: 86px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
}

.price-one {
    font-size: 60px;
    color: #484848;
    font-weight: bold;
    float: left;
}

.price-coin {
    font-size: 24px;
    color: #484848;
    font-weight: bold;
    margin-bottom: 5px;
}

.words {
    color: #484848;
    font-size: 18px;
}



.storage {
    background-color: #f2f2f2;
    width: 310px;
    height: 69px;
}

.third-line {
    background-color: #f2f2f2;
    width: 277px;
    height: 69;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
}

.bandwidth {
    background-color: #e3e3e3;
    width: 310px;
    height: 69px;
    text-align: center;
    color: #535353;
    
}

.fourth-line {
    background-color: #e3e3e3;
    width: 310px;
    text-align: center;
    color: #535353;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
}

.storage {
    text-align: center;
    color: #535353;
}

img {
    width: 20px;
    height: 20px;
}

.email-img {
    width: 25px;
    height: 25px;
}

.third-line {
    text-align: center;
    color: #535353;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
}

.email {
    background-color: #f2f2f2;
    width: 310px;
    height: 69px;
    text-align: center;
    color: #535353;
}

.fifth-line {
    background-color: #f2f2f2;
    width: 277px;
    height: 69px;
    text-align: center;
    color: #535353;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
}

.support {
    background-color: #e3e3e3;
    width: 310px;
    height: 69px;
    text-align: center;
    color: #535353;
}

.sixth-line {
    background-color: #e3e3e3;
    text-align: center;
    color: #535353;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
}

.products {
    background-color: #f2f2f2;
    width: 310px;
    height: 69px;
    text-align: center;
    color: #535353;
}

.seventh-line {
    background-color: #f2f2f2;
    width: 277px;
    height: 69px;
    text-align: center;
    color: #535353;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
}

.users {
    background-color: #e3e3e3;
    width: 310px;
    height: 69px;
    text-align: center;
    color: #535353; 
}

.eighth-line {
    background-color: #e3e3e3;
    text-align: center;
    color: #535353;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
}

.contact {
    background-color: #dddddd;
    width: 310px;
    height: 89px;
    text-align: center;
}

.last-line {
    background-color: #eeeeee;
    width: 277px;
    height: 89px;
    text-align: center;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
}

.last-line-center {
    background-color: #f4f4f4;
    width: 277px;
    height: 89px;
    text-align: center; 
}

.click {
    background-color: #484848;
    color: white;
    font-weight: bold;
    width: 192px;
    height: 49px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}

.click:hover {
    background-color: orangered;
    color: black;
    transition: 1.5s;
}

.green-click {
    background-color: #89c331;
    color: white;
    font-weight: bold;
    width: 192px;
    height: 49px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.green-click:hover {
    background-color: orangered;
    color: black;
    transition: 1.5s;
}

.red-click {
    background-color: #f04a56;
    color: white;
    font-weight: bold;
    width: 192px;
    height: 49px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.red-click:hover {
    background-color: orangered;
    color: black;
    transition: 1.5s;
}

.blue-click {
    background-color: #20807c;
    color: white;
    font-weight: bold;
    width: 192px;
    height: 49px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.blue-click:hover {
    background-color: orangered;
    color: black;
    transition: 1.5s;
}

